.light-mode-button-container {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#light-mode-button {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  background-color: #efefef;
  border: 2px solid #0b0c10;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}

#button-indicator {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #0b0c10;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

#light-mode-button.active {
  border: 2px solid #ce17ce;
}

#light-mode-button.active #button-indicator {
  background-color: #ce17ce;
  transform: translateX(30px);
  color: yellow;
}

#light-mode-button:hover #button-indicator {
  background-color: #66fcf1;
}
#light-mode-button.active:hover #button-indicator {
  background-color: #000000;
}

/* WRITE EVERYTHING HERE THAT CHANGES WHEN
   LIGHT-MODE IS ACTIVE 
*/

body.light-mode {
  background: #efefef;
  color: #000000;
}
body.light-mode nav {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  background: #ce17ce;
  color: #000000;
}
body.light-mode nav a {
  color: #000000;
}
body.light-mode nav a:hover {
  color: #000000;
}
body.light-mode .mobile-menu-list {
  background-color: #ffffff;
  opacity: 90%;
}
body.light-mode .myName-part {
  color: #ffffff;
}
body.light-mode .mobile-menu-list {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  border-top: none;
}

body.light-mode .links-mobile {
  color: #000000;
}
body.light-mode .links-mobile:hover {
  color: #ffffff;
}

body.light-mode .my-name-colored {
  color: #ce17ce;
}

body.light-mode .title {
  color: #ce17ce;
}

body.light-mode .title hr {
  border: 3px solid #ce17ce;
}

body.light-mode .sub-title {
  color: #ce17ce;
}

body.light-mode .skill-box-wrapper {
  filter: none;
}

body.light-mode .skill-box {
  background-color: #d3d3d3;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

body.light-mode .special_button {
  background: #ce17ce;
  border: #ce17ce;
  filter: drop-shadow(0px 3px 0px purple);
}
body.light-mode .special_button:hover {
  background: purple;
}
body.light-mode .project-wrapper {
  filter: drop-shadow(3px 4px 3px rgba(0, 0, 0, 0.3));
}
body.light-mode .project-description {
  background-color: #d3d3d3;
}

body.light-mode .project-title {
  color: #000000;
}
body.light-mode .github_button {
  background: #ce17ce;
  border: #ce17ce;
  filter: drop-shadow(0px 3px 0px purple);
}
body.light-mode .github_button:hover {
  background: purple;
}

body.light-mode .circle-border {
  border: 1px solid #ce17ce;
  padding: 10px;
  border-radius: 50%;
}
body.light-mode .email-wrapper a {
  color: #000000;
}
body.light-mode .email-wrapper a:hover {
  color: #ce17ce;
}
body.light-mode .circle-border svg path {
  fill: #ce17ce;
}

/* styles for the form dialog */
body.light-mode .form-title {
  color: #ce17ce;
}
body.light-mode .form-wrapper {
  background: #d3d3d3;
  box-shadow: none;
  filter: drop-shadow(3px 4px 3px rgba(0, 0, 0, 0.3));
}
body.light-mode .input-bar label {
  color: #ce17ce;
}
body.light-mode .submit-button {
  background: #ce17ce;
  border: #ce17ce;
  filter: drop-shadow(0px 3px 0px purple);
}
body.light-mode .submit-button:hover {
  background: purple;
}

body.light-mode footer {
  background-color: #ce17ce;
}

body.light-mode .circle-wrapper {
  border: 1px solid #000000;
}
body.light-mode .circle-wrapper svg path {
  fill: #000000;
}
